# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: wheels-publish

on:
  push:
    branches:
    - pypi

jobs:
  deploy_mac:
    runs-on: macos-10.15
    strategy:
      fail-fast: false
      matrix:
        python-version: [ '2.7', '3.6', '3.7', '3.8', '3.9' ]

    steps:
    - uses: actions/checkout@v2
      with:
        repository: cheqianh/ion-python
        ref: pypi

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Setup venv
      if: ${{ matrix.python-version < 3 }}
      run: |
        pip install virtualenv
        virtualenv venv --python=python${{ matrix.python-version }}
        source venv/bin/activate
        python --version
        python -m pip install --upgrade pip
        pip install wheel
        pip install twine

    - name: Setup venv
      if: ${{ matrix.python-version >= 3 }}
      run: |
        python${{ matrix.python-version }} -m venv ./venv
        . venv/bin/activate
        python --version
        python -m pip install --upgrade pip
        python -m pip install -U wheel

    - name: install wheels for python3 # need install by pip3 to avoid conflict issue.
      if: ${{ matrix.python-version >= 3 }}
      run: |
        pip3 install wheel
        pip3 install twine

    - name: Build ion-c
      run: |
        python${{ matrix.python-version }} install.py

    - name: Build and publish
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python${{ matrix.python-version }} setup.py sdist bdist_wheel
        twine upload --repository testpypi dist/*
